$tabs-height: 0.88rem;
$controls-height: 0.88rem;
$text-color: #494F61;
$text-color-darken: #3A3D48;
$text-color-lighten: #747A8C;

%panel-wrap {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - #{$tabs-height + $controls-height});
	background-color: #F4F4F6;
}
