<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aliyun.aliinteraction.app">

    <application
        android:allowBackup="true"
        android:icon="${appIcon}"
        android:label="${appLabel}"
        android:roundIcon="${appIconRound}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name="com.aliyun.interaction.app.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aliyun.interaction.app.RoomListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.aliyun.interaction.app.ChooseRoomTypeActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.aliyun.alivc_license.licensekey"
            tools:node="replace"
            android:value="xxx" />
        <meta-data
            android:name="com.aliyun.alivc_license.licensefile"
            tools:node="replace"
            android:value="assets/cert/license.crt" />
    </application>

</manifest>